<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1">
            
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
            <div class="mt-2">
                <h2 class="text-center">Our mission</h2>
                 <p class="text-center">Mỗi sản phẩm trước và sau tạo kiểu của BluMaan được tạo ra không chỉ để cung cấp cho tóc mỏng và kết cấu tóc phẳng — chúng làm được tất cả những điều đó và đảm bảo kiểu tóc của bạn luôn chắc khỏe suốt cả ngày dài. </p>
                 <p class="text-center">Khi BluMaan thành lập, sứ mệnh của chúng tôi luôn là giúp bạn tìm thấy phong cách cá nhân của mình thông qua sức mạnh của việc tạo kiểu tóc. Chúng tôi cũng tin rằng để có được kiểu tóc đẹp nhất có thể, tóc của bạn cần phải ở trạng thái khỏe mạnh nhất. Tất cả các sản phẩm của chúng tôi được sản xuất tại Hoa Kỳ với các thành phần sẽ nuôi dưỡng mái tóc của bạn và an toàn để sử dụng hàng ngày.
                    Chúng tôi ở đây để trợ giúp và hướng dẫn bạn đạt được diện mạo dành riêng cho bạn - thông qua thông tin và sản phẩm phục vụ cho bạn. </p>
                <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/104347887_2624879634439696_3582792953459571901_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=9267fe&_nc_ohc=CyaDlkBY3KgAX-pRc0D&tn=nxpE3NXTDlcYdynt&_nc_ht=scontent.fhan2-2.fna&oh=0034f820d1b1c2995fc025eaa62c3de3&oe=6175A4B3" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
           
        </div>
    </div>
</div>