<div class="mt-4">
  <div><h2>UPDATE NEW PRODUCT</h2></div>
  <form>
  
    <div class="form-group">
      <label for="Name">Wax's name</label>
      <input type="text" class="form-control" id="Name" name="Name"  placeholder="Name of product">
    </div>
    <div class="form-group">
      <label for="Description">Description</label>
      <input type="text" class="form-control" id="Description" name="Description" placeholder="Descripton">
    </div>
    <div class="form-group">
      <label for="videoID">videoID</label>
      <input type="text" class="form-control" id="videoID" name="videoID" placeholder="videoID">
    </div>
    <button  type="submit" class="btn btn-primary"  >Update</button>
    
  </form>
  
</div>