<div class="container mt-4">
    <div class="row">
        <div class="col-xs-3 col-md-8 col-lg-6 product-img">
            <img src="{{products.img}}" alt="product img" height="400" width="400">
        </div>

        <div class="col-xs-9 col-md-4 col-lg-6  ">
            <h2 class="text-center ">{{products.name}}</h2>
            <span>{{products.description}}</span>
        </div>
    </div>
</div>
<div class="mt-4 mb-4 embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{products.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
